/* .general h2 {
    font-size: 15px;
    color: black;
}

.general p {
    font-size: 15px;
}

.header {
    margin-bottom: 10px;
}

.general-grid h4{
    font-weight: bold;
    font-size: 15px;
    color: rgba(128, 128, 128, 0.678);
}

.general-grid p {
    font-size: 17px;
    font-weight: bold;
} */


.general h2 {
    font-size: 15px;
    color: black;
}

.general p {
    font-size: 15px;
}

.header {
    margin-bottom: 10px;
}

.general-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.general-grid h4 {
    font-weight: bold;
    font-size: 15px;
    color: rgba(128, 128, 128, 0.678);
}

.general-grid p {
    font-size: 17px;
    font-weight: bold;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .general-grid {
        grid-template-columns: 1fr; /* Switch to single column for smaller screens */
    }
}

@media (max-width: 480px) {
    .general h2,
    .general p,
    .general-grid h4,
    .general-grid p {
        font-size: 14px; /* Reduce font size for better readability on small screens */
    }
}
