.circularity-details {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr;
    /* gap: 20px; */
  }
  
  .circularity-item {
    padding: 10px;
    border-bottom: 1px solid #eee;  
  }
  
  .circularity-label {
    font-weight: bold;
    /* margin-bottom: 5px; */
  }

  .circularity-item h4 {
    color: rgba(128, 128, 128, 0.678);
    font-size: 15px;
  }

  .circularity-item p {
    color: black;
    font-weight: bold;
    font-size: 16px;
  }

  