.passport-sections {
    font-family: sans-serif;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    width: 100vw; 
    max-width: 1839px;
  }
  
  .first-section{
    width: 100%; /* Take full width of parent */
    box-sizing: border-box;
    background-color: gray;
    background-position: center;
    background-size: cover;
    width: 100%; 
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .verified-badge {
    margin-left: 435px;
  }

  .passport-card {
    /* background-color: red; */
    border: 1px rgb(224, 217, 217) solid;
    /* justify-content: center; */
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    width: 29%;
    margin-left: 200px;
  }

  .images {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    gap: 300px;
    margin-left: 100px;
  }
  
  .images img {
    margin-bottom: 110px;
    /* align-items: flex-start ;*/
  }
  
  .images img:last-child {
    margin-bottom: 0; 
    margin-bottom: 30px;
    /* width: 150px; */
  }
  
  .passport-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-top: 15px;
    margin-left: 10px;
  }

  .passport-item p {
    font-size: 14px;
    font-weight: bold;
    color: gray;
  }

  .passport-item h4 {
    font-size: 17px;
  }
  
  .second-section {
    width: 100%; 
    box-sizing: border-box;
    /* background-color: pink; */
    background-position: center;
    background-size: cover;
    width: 100%; 
    padding: 200px;
    margin-top: -150px;
  }

  .back {
    color: gray;
    font-size: 15px;
  }
  
  .tabs-container {
    padding: 3px;
    border: 1px rgb(238, 232, 232) solid;
    border-radius: 10px;
    margin-top: 10px;
  }

  .passport-tabs {
    position: sticky;
    top: 0;
    z-index: 100;
    gap: 1px;
    height: 40px;
    /* background-color: white; */
    display: flex;
    /* border-bottom: 1px solid #ccc; */
    border-radius: 10px;
  }
  
  .tab-button {
    padding: 0px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    color: #4CAF50;
  }
  
  .tab-button:hover {
    opacity: 0.8;
    background-color: rgb(175, 171, 171);
    border: none;
  }
  
  .tab-button.active {
    background-color: #008080;
    color: white;
  }
  
  .passport-content {
    padding: 20px;
    border: 1px rgb(238, 232, 232) solid;
    border-radius: 10px;
    margin-top: 10px;
  }