/* .starter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
  } */
  
  .starter-container {
    width: 100vw;
    padding: 300px;
    /* background-color: black; */
  }

  .starter-card {
    background-color: white;
    padding: 24px;
    border: 1px solid rgb(243, 235, 235);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* max-width: 600px; */
    text-align: center;
    margin-top: -350px;
  }
  
  .starter-card h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: left;
  }
  
  
  .starter-card hr {
    margin-bottom: 16px;
  }
  
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 1rem;
    color: #333;
    outline: none;
    transition: border 0.3s ease-in-out;
  }
  
  .input-field:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
  }
  
  
  .fetch-button {
    width: 100%;
    max-width: 120px;
    margin-top: 16px;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .fetch-button:hover {
    background-color: #16a34a;
  }
  
  .alert {
    color: red;
    font-size: 0.875rem;
    margin-top: 8px;
  }
  

  .sample-did {
    text-align: center;
    margin-top: 20px;
  }
  
  .sample-did a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .sample-did a:hover {
    text-decoration: underline;
  }